.footer-container{
    height: 67em;
    background-color: #0C0C0C;
}

.footer-logo-text{
    padding: 2.5em 5.875em 0 5.875em;
    text-align: center;
}

.footer-text1{
    padding-top: 1.5em;
    color: #F4F4F4;
    font: 1em 'Nunito Sans', sans-serif;
    font-weight: 300;
}

.logo-negrito-footer{
    font-weight: 700;
    font-style: normal;
}

.logo-footer{
    color: #A55C30;
    font: 1.5em 'Lora', serif;
    font-style: italic;
}

.news-letter{
    text-align: center;
    padding: 5.5em 2.375em 0 2.375em;
}
.news-letter-title{
    color: #A55C30;
    font: 1.5em 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.news-text{
    color: #F4F4F4;
    font: 1em 'Nunito Sans', sans-serif;
    font-weight: 300;
    padding-top: 2em;
    padding-bottom: 1.188em;
}

.news-email{
    width: 82%;
    height: 3.375em;
    border: 0.031em;
    background-color: var(--main-white);
}

.news-email::placeholder{
    font: 1em 'Lato', sans-serif;
    font-weight: 400;
    color: rgba(159, 159, 159, 0.59);
    padding-left: 1.438em;
}

.news-btn{
    cursor: pointer;
    background-color: #A55C30;
    font: 1.125em 'Lato', sans-serif;
    font-weight: 700;
    color: var(--main-white);
    width: 47%;
    height: 3em;
    border: 0;
}

.div-to-padding{
    padding-top: 1.25em;
}

.contact-info-footer{
    text-align: center;
    padding-top: 5.5em;
}

.contact-title-footer{
    color: #A55C30;
    font: 1.5em 'Nunito Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 2em;
}

.location-info-footer, .contact-email-footer, .contact-number-footer{
    display: flex;
    text-align: left;
    padding-left: 25%;
}

.location-text-footer, .number-text-footer, .email-text-footer{
    font: 1em "Nunito Sans", sans-serif;
    font-weight: 400;
    color: #F4F4F4;
    padding-left: 1.313em;
    text-align: left;
}

.email-text-footer{
    font-weight: 300;
}

.contact-number-footer{
    padding-top: 1em;
    padding-bottom: 1em;
}

.social-media-copy{
    text-align: center;
    padding-top: 5.5em;
}

.twitter-icon{
    padding: 0 2.398em;
}

.div-to-centralize-line{
    display: flex;
    justify-content: center;
    padding-top: 1.563em;
    padding-bottom: 0.625em;
}

.line-social-media{
    display: flex;
    justify-content: center;
    width: 19.375em;
    height: 0.094em;
    background-color: rgba(229, 229, 229, 0.4);
}

.copyright{
    font: 0.75em "Nunito Sans", sans-serif;
    font-weight: 300;
    color: #F4F4F4;
}

.social-media-copy-desktop{
    display: none;
}

.footer-br-desktop{
    display: none;
}

.flex-btn-desktop{
    display: none;
}

@media screen and (min-width: 1024px){
    .footer-container{
        height: 27.313em;
        display: flex;
        justify-content: center;
        padding: 4em 3em  3em;
    }
    .footer-logo-text, .footer-text1 , .news-letter, .news-text, .div-to-padding , .contact-info-footer, .contact-title-footer, .location-info-footer, .contact-email-footer, .contact-number-footer, .location-text-footer, .number-text-footer, .email-text-footer, .social-media-copy{
        margin: 0;
        padding: 0;
    }
    .social-media-copy{
        display: none;
    }    
    .social-media-copy-desktop{
        display: block;
    }
    .footer-br-desktop{
        display: block;
    }
    .logo-footer{
        padding-bottom: .3em;
    }
    .footer-text1{
        text-align: left;
        letter-spacing: .5px;
    }
    .news-letter-title{
        padding-bottom: 1.7em;
    }
    .news-letter{
        padding: 0 9em; 
    }
    .news-text{
        padding-bottom: 1.3em;
        letter-spacing: .5px;
    }
    .flex-btn-desktop{
        display: flex;
        padding: 0 1em 2.7em 1em;
    }
    .news-email{
        width: 20vw;
        height: 6.5vh;
        margin-right: .5em;
    }
    .news-btn{
        width: 9.5vw;
        height: 6.5vh;
        margin-left: .5em;
    }
    .line-social-media{
        position: absolute;
        width: 90vw;
    }
    .div-to-centralize-line{
        padding-bottom: 2em;
    }
    .contact-title-footer{
        padding-bottom: 1.7em;
    }
    .location-info-footer, .contact-number-footer, .contact-email-footer{
        padding: 0 0 1em 0;
    }

    .location-text-footer, .number-text-footer ,.email-text-footer{
        padding-left: 1.3em;
    }
}

