@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url(header.css);
@import url(about.css);
@import url(services.css);
@import url(fleet.css);
@import url(history-testim.css);
@import url(company-contact.css);
@import url(footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

:root{
    --main-white: #FFFFFF;
    --project-margin: 0 1.7em;
    --color-titles: #A55C30;
    --size-font-titles: 2em 'Lora', serif;
    --weight-titles: 700;
    --size-font-p: .875em 'Nunito Sans', sans-serif;
    
}

.container{
    /* min-width: 24em */
    justify-content: center;
}

